{% extends "layout.html" %}
{% block title %}{{artist_name}}{% endblock %}
{% block extraheader %}
<style>
#trend {
    font-size: 4em;
}

.trend-down {
    color: red;
}
.trend-up {
    color: green;
}

</style>
{% endblock %}
{% block body %}
		<div class="panel panel-default">
	  <div class="panel-body">
		<h1>{{artist_name}}</h1>
		
		<div class="row">
			<div class="col-md-2">
			<div id="artist_thumb_wrap"></div>
				<img id='artist_thumb' class="img-thumbnail" src="{{ url_for('static', filename='images/empty.jpg') }}"></img>
			</div>
		
			<div class="col-md-6">
			{% if trending_status <0 %}
				<p id="trend" class="trend-down">
					<span class="glyphicon glyphicon-arrow-down trend-down" aria-hidden="true"></span>
					{{trending_status}}
				</p>
			{% else %}
			
				<p id="trend" class="trend-up">
					<span id="arrow" class="glyphicon glyphicon-arrow-up trend-up" aria-hidden="true"></span>
					{{trending_status}}
				</p>
			{% endif %}
			</div>
			<div class="col-md-2">
				<a class="btn btn-primary btn-md" href="{{url_for('genrevision')}}/id/{{artist_id}}" role="button"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> View in GenreVision</a>
			</div>
		</div>
	  </div>
	</div>
		<div class="panel panel-default">
			<div class="panel-heading">Songs</div>
			<div class="panel-body">
	
				<div class="row">
			
				{% for song in songdata %}
				<div class="col-md-1">
					<a href="{{song.url|safe}}">
						<img class="img-thumbnail" src="http://img.youtube.com/vi/{{song.youtubeId|safe}}/0.jpg"></img>{{song.songName|safe}}
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
		<div class="panel panel-default">
			<div class="panel-heading">Similar Artists</div>
	  <div class="panel-body">
		
		<div class="row">
			{% for simartist in similar_artists %}
			 <div id='simdiv{{simartist.id}}' class="col-md-1">
				<img id='simdiv{{simartist.id}}thumb' class="img-thumbnail" src="{{ url_for('static', filename='images/empty.jpg') }}"></img>
				{{simartist.name|safe}}
			</div>
			{% endfor %}
		</div>

	  </div>
	</div>

{% endblock %}

{% block afterboxy %}

<script type='text/javascript'>
	function debounce(fn, delay) {
	  var timer = null;
	  return function () {
		var context = this, args = arguments;
		clearTimeout(timer);
		timer = setTimeout(function () {
		  fn.apply(context, args);
		}, delay);
	  };
	}

	function set_artist_thumbnail(artist_id,sel){
		// set artist thumbnail
			$.ajax({
				url: 'http://'+document.domain + ':' + location.port+'/albumcovers/id/'+artist_id+'/1',
				method: "GET",
				success: function(data) {
					
					var data=$.parseJSON( data );
					
					var url = '';
					
					if(data.length>0){
						url=data[0];
						console.log(url);
					}
					
					if(url!=''){
						$(sel).attr('src',url);
					}
					
				}
			}
		);
	}

	
	$(document).ready(function() {
		set_artist_thumbnail('{{artist_id}}','#artist_thumb');
		
		{% for sim in similar_artists %}
			$('#simdiv{{sim.id}}').wrap('<a href="{{ url_for('artist_page',id=sim.id) }}"></a>');
			set_artist_thumbnail('{{sim.id}}','#simdiv{{sim.id}}thumb');
		{% endfor %}
	
	});
</script>

{% endblock %}
