{% extends "layout.html" %}
{% block title %}Favorites{% endblock %}
{% block extraheader %}{% endblock %}
{% block body %}
  <h1>Music recommendations</h1>
  
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>What should you listen to next?</h3>
	</div>
	<div class="panel-body">
		<h4>Which artists do you like?</h4>
		<form action="{{ url_for('postfavorites') }}" method="post" name="login">
		{{ form.hidden_tag() }}
		<p>
		Artist 1:<br>{{ form.a1(size=40) }}<br>
		Artist 2:<br>{{ form.a2(size=40) }}<br>          
		Artist 3:<br>{{ form.a3(size=40) }}<br>                    
		</p>
		<p><button type="submit" class="btn btn-md btn-primary">Submit</button></p>
		</form>
	</div>
</div>

{% endblock %}
