{% extends "layout.html" %}
{% block title %}GenreVision{% endblock %}
{% block extraheader %}
<style>

div.minside{
		text-align: right;
}
div.maxside{
		text-align: left;
}

.slider.slider-horizontal {
  width: 100%;
  height: 20px;
}

</style>
{% endblock %}
{% block body %}
	<h1>GenreVision</h1>

    <div id="chart"></div>
	
	<div class="row">
		<div class="col-md-8">
			<div id="sliders"></div>
		</div>		
		<div class="col-md-4">
			<div class="form-group">
				<div class="input-group">
					<input id="searchbox" name="searchbox" type="text" class="form-control inputlg" placeholder="Artist name..."  aria-describedby="basic-addon1">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"> Search!</button>
					</span>
				</div>
			</div>
			
			<div class="form-group">
					<a href="{{url_for('artist_page',id=516)}}" class="btn btn-primary btn-md" id="artistpage">View artist's page!</a>
			</div>
			
		</div>
	</div>

{% endblock %}

{% block afterboxy %}

<script type='text/javascript' src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap-slider.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/labeler.js') }}"></script>

<script type='text/javascript'>
	
	function debounce(fn, delay) {
	  var timer = null;
	  return function () {
		var context = this, args = arguments;
		clearTimeout(timer);
		timer = setTimeout(function () {
		  fn.apply(context, args);
		}, delay);
	  };
	}
	
	// width and height of canvas
	var w = 1140;
	var h = 400;
	
	var wpadding=0.2;
	var hpadding=0.2;
	
	var slider_vals = [];
	
	//Create SVG element
	var svg = d3.select("#chart")
		.append("svg")
		.attr("width", w)
		.attr("height", h);

	
	function setSlidersTo(point){
			for (s = 0; s < point.length; s++) {
				slider_vals[s].setValue(point[s]);
			}
				
	}
	
	function areaToRadiusMap(area){
		return (Math.sqrt((0.15+(1-area)) *800/Math.PI)) ;
	}
		
	function areaToFontSizeMap(area){
		s=Math.round( (Math.sqrt((0.1+(1-area)) *4000/Math.PI))) +'px'
		return s ;
	}
		
	function UpdateView(event){
									
			Pace.track($.ajax({
			url: '{{ url_for('recommend_searchnear_json',_external=True) }}', 
			method: "POST",
			data: { x0 : slider_vals[0].getValue(),x1 : slider_vals[1].getValue(), x2 : slider_vals[2].getValue(),x3 : slider_vals[3].getValue(),x4 : slider_vals[4].getValue(),},
			success: function(data) {
			  
			var data = $.parseJSON( data );
			
			//console.log(data);
			
			var label_array = [];
			var anchor_array = [];
			  			
			/*var w = 1200;
			var h = 400;
			
			var wpadding=0.25;
			var hpadding=0.25;
			*/
			
			for (i = 0; i < data.length; i++) {
					data[i][8]=data[i][0];
					data[i][9]=data[i][1];
			}
			
			var x=xmin=xmax=data[0][8];
			var y=ymin=ymax=data[0][9];


			for (i = 1; i < data.length; i++) {
				x=data[i][8];
				y=data[i][9];
				
				if(x<xmin) xmin=x;
				if(x>xmax) xmax=x;
				
				if(y>ymax) ymax=y;
				if(y<ymin) ymin=y;				
			}

			
			for (i = 0; i < data.length; i++) {
				data[i][8]=w*wpadding+(data[i][8]-xmin)*w*(1-2*wpadding)/(xmax-xmin);
				data[i][9]=h*hpadding+(data[i][9]-ymin)*h*(1-2*hpadding)/(ymax-ymin);
			}
			
			for (i = 0; i< data.length; i++){
				label_array[i]={data: data[i], x: data[i][8], y: data[i][9], name: data[i][5], dist: data[i][6], width: 10.0, height: 1.0, d0:data[i][0], d1:data[i][1], d2:data[i][2], d3:data[i][3], d4:data[i][4]};	
			}
			  
			svg.remove();
			svg = d3.select("#chart")
				.append("svg")
				.attr("width", w)
				.attr("height", h);
			
			svg.selectAll("circle").data(data)
				.enter()
				.append("circle")
			   .attr("cx", function(d) {
					return d[8];
			   })
			   .attr("cy", function(d) {
					return d[9];
			   })
			   .attr("r", function(d){
					//return (Math.sqrt((9*d[6]+1) *4/Math.PI));
					return areaToRadiusMap(d[6]) ;
				})
				.attr("fill", "#4a90d9")
				.on("click",function(d) { 
				   setSlidersTo([d[0],d[1],d[2],d[3],d[4]]);
				   UpdateView();
				  });
				
			labels = svg.selectAll("text")
			   .data(label_array)
			   .enter()
			   .append("text")
			   .text(function(d) {
			   		return d.name;
			   })
			   .attr("x", function(d) {
			   		return d.x+areaToRadiusMap(d.dist)+5;
			   })
			   .attr("y", function(d) {
			   		return d.y;
			   })
			   .attr("font-family", "sans-serif")
			   .style("font-size",function(d) { return areaToFontSizeMap(d.dist)})
			   .attr("fill", "#072544")
			   .on("click",function(d) { 
				   setSlidersTo([d.d0,d.d1,d.d2,d.d3,d.d4]);
				   UpdateView();
				  });
		
			var index = 0;
			
			labels.each(function(){
				label_array[index].width = this.getBBox().width;
				label_array[index].height = this.getBBox().height;
				
				index +=1;
				});
			
			for (i = 0; i < data.length; i++) {
				anchor_array.push({x:data[i][8],y:data[i][9],r:7});
			}
							
			var thelabeler = d3.labeler()
			.label(label_array)
			.anchor(anchor_array)
			.width(w)
			.height(h)
			.start(1000);

			 labels.transition()
				.duration(0)
				.attr("x", function(d) { return (d.x); })
				.attr("y", function(d) { return (d.y); });
			
			$('#artistpage').attr('href','/artist/'+data[0][7]);

			$('#artistpage').text('View '+data[0][5]+'\'s page!');
			
			console.log(data[0][5]);
			
			},
			
			
			
			complete: function() {}
		  })
		  );
	  }		


	$( "#searchbox" ).keyup(debounce(function( event ) {
			var searchterm = $('#searchbox').val();
			if(searchterm!=''){
			$.ajax({
				url: '{{ url_for('search_artist_id_lookup_soundslike',_external=True) }}', 
				method: "POST",
				data: {search_term: $('#searchbox').val()},
				success: function(data) {
					
						var dataj=$.parseJSON(data);
						
						if (dataj['status']=='success'){
												
					
							$.ajax({
									url: '{{ url_for('get_location_from_id_json',_external=True) }}', 
								method: "POST",
								data: {aid: (dataj['id']).toString()},
								success: function(data) {
										var searchpoint = $.parseJSON(data)
										
										setSlidersTo(searchpoint);
										
										UpdateView();
										
									}
								});
							
						}
					
					
				}
			});
		}
	},500));
	
	
	
	
	
	
	
	$(document).ready(function() {
		
		var labels = [
			{% for dim in dimlabels %}['{{dim[0]}}','{{dim[1]}}'],{% endfor %}
		];
		
		for (s=0; s < 5; s++) {
				$('#sliders').append("<div class=\"row\"><div class=\"col-md-4 minside\">"+labels[s][0]+"</div><div class=\"col-md-4\"><input id='#sv"+s+"' class='sliderin' data-slider-id='svSlider' type='text' data-slider-min='0' data-slider-max='1' data-slider-step='0.0001' data-slider-value='0' width=100/></div><div class=\"col-md-4 maxside\">"+labels[s][1]+"</div></div>");
		}

			
		$('.sliderin').each(function(s){	
			$(this).slider({
				formatter: function(value) {
					return 'Current value: ' + value;
				}
			});	
			
			slider_vals.push($(this).slider().on('slide',debounce(UpdateView,100)).data('slider'));
		
		});

		setSlidersTo([{{ initial_point|join(', ') }}])

		$('#artistpage').attr('href','/artist/262731');
		
		$('#artistpage').text('View Rihanna\'s page!');

		UpdateView();

	});
</script>
{% endblock %}
