{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block extraheader %}
<style>
div.frontpage-caption{
	text-align: center;
}
</style>
{% endblock %}
{% block body %}

	<div class="jumbotron">
		<h1>Music recommendations</h1>
		<p class="lead">Discover new music!</p>
	</div>		
			
	<form class="form-horizontal" action="{{url_for('artist_search_page',_external=True)}}" method="post" name="search">
			<div class="form-group form-group-lg">

						<div class="col-md-2">	</div>
					
						<div class="input-group col-md-8">
							<input id="searchbox" name="searchbox" type="text" class="form-control inputlg" placeholder="Search for an artist...">
							<span class="input-group-btn">
								<button class="btn btn-default btn-lg" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"> Search!</button>
							</span>
						</div>
					
						<div class="col-md-2"></div>
						
			</div>
	</form>

	<h3>Trending Songs</h3>

	<div class="the-masonry-container">

		{% for song in tren_song %}
		<div class="col-md-3">
			<a href="{{song.url|safe}}">
				<div class="thumbnail item">
					<img class="img-thumbnail" src="http://img.youtube.com/vi/{{song.youtubeId|safe}}/0.jpg"></img>
					<div class="caption frontpage-caption">
						<h4>{{song.songName|safe}}</h4>
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
		
	</div>

	<h3>Trending Artists</h3>
	
	<div class="the-masonry-container">
		{% for trena in tren_artist %}
		 <div id='trendiv{{trena.id}}' class="col-md-3">
			 <div class="thumbnail item">
				<img id='trendiv{{trena.id}}thumb' class="img-thumbnail" src="{{ url_for('static', filename='images/empty.jpg') }}"></img>
				<div class="caption frontpage-caption">
					<h4>{{trena.name|safe}}</h4>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>


	<h3>Popular Songs</h3>

	<div class="the-masonry-container">
		{% for song in popu_song %}
			<div class="col-md-3">
				<a href="{{song.url|safe}}">
					<div class="thumbnail item">
						
							<img class="img-thumbnail" src="http://img.youtube.com/vi/{{song.youtubeId|safe}}/0.jpg"></img>
						
						<div class="caption frontpage-caption">
							<h4>{{song.songName|safe}}</h4>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>


	<h3>Popular Artists</h3>
	
	<div class="the-masonry-container">
		{% for popu in popu_artist %}
		 <div id='popdiv{{popu.id}}' class="col-md-3">
			<div class="thumbnail item">
				<img id='popdiv{{popu.id}}thumb' class="img-thumbnail" src="{{ url_for('static', filename='images/empty.jpg') }}"></img>
				<div class="caption frontpage-caption">
					<h4>{{popu.name|safe}}</h4>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	
{% endblock %}


{% block afterboxy %}

<script type='text/javascript'>
		
	function debounce(fn, delay) {
	  var timer = null;
	  return function () {
		var context = this, args = arguments;
		clearTimeout(timer);
		timer = setTimeout(function () {
		  fn.apply(context, args);
		}, delay);
	  };
	}

	function set_artist_thumbnail(artist_id,sel){
		// set artist thumbnail
			$.ajax({
				url: 'http://'+document.domain + ':' + location.port+'/albumcovers/id/'+artist_id+'/1',
				method: "GET",
				success: function(data) {
					
					var data=$.parseJSON( data );
					
					var url = '';
					
					if(data.length>0){
						url=data[0];
						console.log(url);
					}
					
					if(url!=''){
						$(sel).attr('src',url);
					}
					
					
				}
			}
		);
	}

	
	$(document).ready(function() {
	
		// initialize Masonry containers
		$('.the-masonry-container').each(function( index ) {
			$( this ).masonry();
		});
	
		{% for tre in tren_artist %}
			$('#trendiv{{tre.id}}').wrap('<a href="{{ url_for('artist_page',id=tre.id) }}"></a>');
			set_artist_thumbnail('{{tre.id}}','#trendiv{{tre.id}}thumb');

			$('.the-masonry-container').each(function( index ) {
				$( this ).masonry();
			});

		{% endfor %}
		{% for popu in popu_artist %}
			$('#popdiv{{popu.id}}').wrap('<a href="{{ url_for('artist_page',id=popu.id) }}"></a>');
			set_artist_thumbnail('{{popu.id}}','#popdiv{{popu.id}}thumb');

			$('.the-masonry-container').each(function( index ) {
				$( this ).masonry();
			});
			
		{% endfor %}
	
	});
</script>

{% endblock %}
