<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
	
<title>Music recommendations - {% block title %}{% endblock %}</title>

<script type="text/javascript" src="{{ url_for('static', filename='js/pace.min.js') }}"></script>

<!-- Twitter Bootstrap -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">

<!-- Optional theme -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-slider.css') }}">


<style>
  body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
</style>
<style>
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}
</style>
{% block extraheader %}{% endblock %}
</head>
<body>
	
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<span class="glyphicon glyphicon-music" aria-hidden="true"></span> Music recommendations
			</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li {% if request.path == "/" %}class="active"{% endif %}><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"> Home</a></li>
				<li {% if request.path == "/gvision" %}class="active"{% endif %}><a href="/gvision"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Genre Vision</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container">

{% block body %}{% endblock %}

</div> <!-- /container -->

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


{% block afterboxy %}{% endblock %}

</body>
</html>
